* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #000;
    color: #999;
}

ul {
    list-style: none;
}

h1 {
  color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
} 

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    background: url('../images/background.jpg') no-repeat center center/cover;
    position: relative;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
    /* padding: 0.5rem 1rem; */
    height: 90px;
    z-index: 2;
    position: relative;
}

.showcase-top img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top .btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    z-index: 2;
}

.showcase-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 1rem;

}

.showcase-content p {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 1rem;
}

.tabs {
    width: 100%;
    background: #333;
    /* display: flex;
    justify-content: center; */
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabs .container .tab {
    padding: .8rem 2rem;
}

.tabs .container .tab p {
    padding-top: .5rem;
}

.tabs .container div {
    padding: 1.5rem 0;
}

.tabs .container div:hover {
    color: #fff;
    cursor: pointer;
}

.tab-content {
    padding: 3rem 0;
}

/* hide tab content initially */
.tab-1-content,
.tab-2-content,
.tab-3-content {
    display: none;
}

.show {
    display: block;
}

.tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.tab-2-content {
    color: #fff;
}

.tab-2-content-inner-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.tab-2-content-inner-top a {
    text-transform: uppercase;
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
}

.tab-2-content-inner-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.tab-2-content-info h4 {
    font-size: 1.2rem;
    font-weight: 650;
    margin: 1rem 0;
}

.tab-2-content-info p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #9f9797;
}

.tab-3-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.tab-3-content-top p {
    color: #fff;
    font-size: 1rem; 
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    
}

.table thead th{
    text-transform: uppercase;
    padding: 0.8rem 0;
    color: #fff;
}

.table tbody tr td {
    padding: 0.8rem 0;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
    padding-left: .3rem;
} 

.table tbody tr:nth-child(odd) {
    background: #222;
}


.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 0.4rem;
}

.container .tab-border {
    border-bottom: 3px solid red;
    color: #fff;
}

/* Text */
.text-md {
    font-weight: 550;
    font-size: 0.8rem;
}

/* Button */
.btn {
    display: inline-block;
    padding: 0.3rem .8rem;
    background: rgb(215, 17, 17);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 4px;
}

.btn-xl {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

@media (max-width: 960px) {
    .showcase {
        height: 70vh;
    }
    .showcase::after {
        height: 70vh;
    }

    .hide-sm {
        display: none;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1 {
        font-size: 2rem;
        line-height: 1;
    }
    .showcase-content p {
        font-size: 0.8rem;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 700px) {
    .tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tab-2-content .tab-2-content-inner-top {
        grid-template-columns: 1fr;
    }

    .tab-2-content .tab-2-content-inner-main {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tab-3-content .tab-3-content-top {
        grid-template-columns: 1fr;
        text-align: center;
    }
}